.quick-link{
    margin-top: 50px;
    h3{
        font-size: 21px;
    }
    p{
        font-size: 16px;
        color: #94A3B8;
    }
    .link-container{
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        .links-box{
            flex: 1 1 100px;
            height: 131px;
            background: #ffffff;
            border: 1px solid #F1F5F9;
            margin: 1rem;
            font-size: 14px;
            border-radius: 8px;
            cursor: pointer;
            p{
                color: #000000;
                font-weight: 400;
            }
        }
    }

}