.wallet-balance-box{
    width: 246px;
    height: 202px;
    background-color: #2B899D;
    margin: 2rem auto;
    border-radius: 8px;
    color: #ffffff;
    .wallet-balance{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem .5rem;

        .wallet-balance-details{
            p{
                margin-right: 1.5rem;
                font-weight: 700;
            }
            :nth-child(1){
                margin-bottom: -1rem;
                font-weight: 100;
            }
        }
    }
    .line{
        border-bottom: 1px solid #ffffff;
        width: 208.47px;
        margin: -1rem auto 0;
    }
    .awarded-points{
        display: flex;
        // justify-content: space-between;
        align-items: center;
        padding: 0 1.5rem .5rem;
        .wallet-point-details{
            p{
                margin-left: .5rem;
                font-weight: 700;
            }
            :nth-child(1){
                margin-bottom: -1rem;
                font-weight: 100;
            }
        }
    }
    .wallet-btn{
        margin: 1rem auto;
        text-align: center;
    }
}

.wallet-custom-button{
    width: 99.49px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin:0  .5rem;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}
.pink{
    background-color: #FDA4AF;
    color: #ffffff;
}
.white{
    background-color: #ffffff;
    color: #2B899D;
}