.dashboard-main{
    // width: 1061px;
    margin-left: 316px;
    // width: 100%;
    background-color: #ffffff;
    // margin: 0 auto;
    padding: 1rem;
}

// @media screen and (max-width: 720px) {
//     .dashboard-main {
//         margin-left: 0 !important;
//     }
// }